<?xml version="1.0" encoding="utf-8"?>
<module>
    <assemblies>
	    <!-- This adds the Alloy template assembly to the "default module" -->
      <add assembly="AlloyReact" />
    </assemblies>
    <clientResources>
      <add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style"/>
        
      <!-- Resource to load when React components are used on a page -->
      <add name="react" path="/Static/js/react.bundle.js" resourceType="Script" sortIndex="1" />
    </clientResources>
    <dojo>
        <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
        <paths>
            <add name="alloy" path="Scripts" />
        </paths>
    </dojo>
</module>
